{% extends "admin/change_form.html" %}
{% load admin_urls %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:jasmin_services_role_add' %}?service={{ original.pk }}" class="addlink">Add role</a>
    </li>
    <li>
        <a href="{% url 'admin:jasmin_services_support_message' service=original.pk %}">Send message</a>
    </li>
    <li>
        <a href="{% url 'admin:jasmin_services_retire' service=original.pk %}" class="deletelink">Retire Service</a>
    </li>
    {{ block.super }}
{% endblock %}
