{% extends "admin/base_site.html" %}
{% load static admin_urls pretty_name markdown_deux_tags %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/aside.css" %}" />
{% endblock %}
{% block bodyclass %}{{ block.super }} {{ opts.app_label }}-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Home</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' original.pk|admin_urlquote %}">{{ original|truncatewords:"18" }}</a>
&rsaquo; Decide
</div>
{% endblock %}
{% endif %}

{% block content %}
{% if not is_popup %}
    <ul class="object-tools">
        <li>
            {% url opts|admin_urlname:'change' original.pk|admin_urlquote as change_url %}
            <a href="{% add_preserved_filters change_url %}">Modify object</a>
        </li>
    </ul>
{% endif %}

<script type="text/javascript">
    // Initially, hide the reason stack and all form rows
    // Using document.write allows us to hide fields only when Javascript is enabled
    document.write('<style>.form-row, .reason { display: none; }</style>');
</script>

<div id="content-main">
    <form method="POST" id="{{ opts.model_name }}_form">
        {% csrf_token %}
        <div>
            {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
            {% if form.errors %}
                <p class="errornote">Please correct the errors below.</p>
            {% endif %}

            <fieldset class="module aligned">
                <div class="form-row">
                    <label for="id_service">Role</label>
                    <p id="id_service"><code>{{ original.role }}</code></p>
                </div>
                <div class="form-row">
                    <label for="id_for_user">Username</label>
                    <p id="id_for_user"><code>{{ original.user.username }}</code></p>
                </div>
                <div class="form-row">
                    <label for="id_for_user">Full name</label>
                    <p id="id_for_user">{{ original.user.get_full_name }}</p>
                </div>
                <div class="form-row">
                    <label for="id_for_user">Institution</label>
                    <p id="id_for_user">{{ original.user.institution }}</p>
                </div>
                <div class="form-row">
                    <label for="id_for_user">Discipline</label>
                    <p id="id_for_user">{{ original.user.discipline }}</p>
                </div>
                <div class="form-row">
                    <label for="id_for_user">Degree</label>
                    <p id="id_for_user">{{ original.user.degree|default:"N/A" }}</p>
                </div>
                <div class="form-row">
                    <label for="id_requested_by">Requested By</label>
                    <p id="id_requested_by"><code>{{ original.requested_by }}</code></p>
                </div>

                {% for datum in original.metadata.all %}
                    <div class="form-row">
                        <label for="id_{{ datum.key }}">{{ datum.key|pretty_name }}</label>
                        <p id="id_{{ datum.key }}" style="white-space: pre-wrap;">{{ datum.value }}</p>
                    </div>
                {% endfor %}
            </fieldset>

            {% if rejected or grant.revoked or grant.expired or grant.expiring %}
                <fieldset class="module aligned">
                    <h2>Previous access</h2>

                    {% if rejected %}
                        <div class="reason-stack">
                            {% for req in rejected %}
                                <aside class="reason danger">
                                    <header>
                                        <span class="reason-number">{{ forloop.counter }} of {{ rejected|length }}</span>
                                        {% if req.incomplete %}
                                            Previous request incomplete
                                        {% else %}
                                            Previous request rejected
                                        {% endif %}
                                    </header>
                                    {{ req.user_reason|markdown }}
                                    {% if req.internal_reason %}
                                        <hr>
                                        {{ req.internal_reason|markdown }}
                                    {% endif %}
                                </aside>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if grant.revoked %}
                        <aside class="danger">
                            <header>Previous access revoked</header>
                            {{ grant.user_reason|markdown }}
                            {% if grant.internal_reason %}
                                <hr>
                                {{ grant.internal_reason|markdown }}
                            {% endif %}
                        </aside>
                    {% elif grant.expired %}
                        <aside class="danger">
                            <header>Previous access expired</header>
                            <p>Expired on {{ grant.expires }}</p>
                        </aside>
                    {% elif grant.expiring %}
                        <aside class="warning">
                            <header>Current access expiring</header>
                            <p>Expires on {{ grant.expires }}</p>
                        </aside>
                    {% endif %}
                </fieldset>
            {% endif %}

            <fieldset class="module aligned">
                <h2>Make decision</h2>

                {% for field in form %}
                    <div class="form-row{% if field.errors %} errors{% endif %}">
                        {{ field.errors }}
                        <div class="field-box{% if field.errors %} errors{% endif %}">
                            {{ field.label_tag }} {{ field }}
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </fieldset>

            <div class="submit-row">
                <input type="submit" value="Make decision" class="default" />
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var $ = django.jQuery;

    // Stuff for rotating reasons
    var show_reason = function($reason) {
        if( $reason.length > 0 ) {
            $('.reason').not($reason).hide();
            $reason.show();
        }
    };
    var prev_reason = function(e) { show_reason($('.reason:visible').prev()); e.preventDefault(); };
    var next_reason = function(e) { show_reason($('.reason:visible').next()); e.preventDefault(); };
    var n_reasons = {{ rejected|length }};
    show_reason($('.reason:last-child'));
    // Inject the previous/next reason buttons
    $('.reason').each(function(i, el) {
        if( i > 0 ) {
            var $link = $('<a href="#" title="Previous reason">&larr;</a>');
            $link.click(prev_reason);
            $(el).find('.reason-number').prepend($link);
        }
        if( i < n_reasons - 1 ) {
            var $link = $('<a href="#" title="Next reason">&rarr;</a>');
            $link.click(next_reason);
            $(el).find('.reason-number').append($link);
        }
    });

    // Reset the hiding of form-groups except for those we are worried about
    $('.form-row').not(':has([name^="expires"]), :has([name$="_reason"])').show();
    // Constants used in the function below
    var YES = 'APPROVED', NO = 'REJECTED', NO_INCOMPLETE = 'INCOMPLETE', CUSTOM_DATE = '7';
    // This function makes sure only fields which are needed are shown
    var toggle_fields = function() {
        var approved = $('[name="state"]').val();
        var expires = $('[name="expires"]').val();
        $('[name="expires"]').closest('.form-row')[approved == YES ? 'show' : 'hide']();
        var show_custom = ( approved == YES && expires == CUSTOM_DATE );
        $('[name="expires_custom"]').closest('.form-row')[show_custom ? 'show' : 'hide']();
        $('[name$="_reason"]').closest('.form-row')[( approved == NO || approved == NO_INCOMPLETE ) ? 'show' : 'hide']();
        $('[for="id_user_reason"]')[0].innerHTML = [( approved == NO ) ? 'Reason for rejection (user)' : 'Reason for incomplete (user)'];
        $('[for="id_internal_reason"]')[0].innerHTML = [( approved == NO ) ? 'Reason for rejection (internal)' : 'Reason for incomplete (internal)'];
    
    }
    toggle_fields();
    $('[name="state"], [name="expires"]').on('change', toggle_fields);
</script>
{% endblock %}
