{% if page.paginator.num_pages > 1 %}
    <nav class="text-center">
        <ul class="pagination">
            {% if page.has_previous %}
                <li><a title="Previous" href="?page={{ page.previous_page_number }}{% if preserved_filters %}&{{ preserved_filters }}{% endif %}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><a title="Previous" href="#">&laquo;</a></li>
            {% endif %}
            <li class="page-info"><span>Page {{ page.number }} of {{ page.paginator.num_pages }}</span></li>
            {% if page.has_next %}
                <li><a title="Next" href="?page={{ page.next_page_number }}{% if preserved_filters %}&{{ preserved_filters }}{% endif %}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><a title="Next" href="#">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
