{% load service_tags %}

{% user_has_service_perm service request.user 'jasmin_services.view_users_role' as view_users %}
{% user_has_service_perm service request.user 'jasmin_services.decide_request' as approver %}
{% user_has_service_perm service request.user 'jasmin_services.send_message_role' as send_message %}

{% with active=request.resolver_match.url_name %}
    {% if view_users or approver or send_message %}
        <ul class="nav nav-tabs">
            <li {% if active == 'service_details' %}class="active"{% endif %}>
                <a href="{% url 'jasmin_services:service_details' category=service.category.name service=service.name %}">Details</a>
            </li>
            {% if view_users %}
                <li {% if active == 'service_users' %}class="active"{% endif %}>
                    <a href="{% url 'jasmin_services:service_users' category=service.category.name service=service.name %}">Users</a>
                </li>
            {% endif %}
            {% if send_message %}
                <li {% if active == 'service_message' %}class="active"{% endif %}>
                    <a href="{% url 'jasmin_services:service_message' category=service.category.name service=service.name %}">Message users</a>
                </li>
            {% endif %}
            {% if approver %}
                <li {% if active == 'service_requests' or active == 'request_decide' %}class="active"{% endif %}>
                    <a href="{% url 'jasmin_services:service_requests' category=service.category.name service=service.name %}">
                        Pending requests
                        {% pending_req_count service=service as n_pending %}
                        {% if n_pending %}
                            <span class="badge">{{ n_pending }}</span>
                        {% endif %}
                    </a>
                </li>
            {% endif %}
            {% if approver %}
                <li {% if active == 'grant_role' %}class="active"{% endif %}>
                    <a href="{% url 'jasmin_services:grant_role' category=service.category.name service=service.name %}">
                        Grant role
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endwith %}
