{% extends 'jasmin_services/service_list.html' %}

{% block filter_form %}
    {% if page.paginator.num_pages > 1 or preserved_filters %}
        <div class="card my-3 ps-1">
            <form method="get" action="" class="form-inline d-flex justify-content-between">
                <input type="hidden" name="page" value="{{ page.number }}" />
                <div class="my-auto">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="active" id="check-active" value="1" {% if 'active' in checked %}checked{% endif %} />
                        <label class="form-check-label" for="check-active">Active</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="revoked" id="check-revoked" value="1" {% if 'revoked' in checked %}checked{% endif %} />
                        <label class="form-check-label" for="check-revoked">Revoked</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="expired" id="check-expired" value="1" {% if 'expired' in checked %}checked{% endif %} />
                        <label class="form-check-label" for="check-expired">Expired</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="expiring" id="check-expiring" value="1" {% if 'expiring' in checked %}checked{% endif %} />
                        <label class="form-check-label" for="check-expiring">Expiring</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="rejected" id="check-rejected" value="1" {% if 'rejected' in checked %}checked{% endif %} />
                        <label class="form-check-label" for="check-rejected">Rejected</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="pending" id="cehck-pending" value="1" {% if 'pending' in checked %}checked{% endif %} />
                        <label class="form-check-label">Pending</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" name="_apply_filters" value="1">
                    <i class="fas fa-fw fa-filter"></i> Filter services
                </button>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block service_list_top %}
    <div class="alert alert-info text-center">
        {% if page.paginator.num_pages > 1 or preserved_filters %}
            <p>This page shows the services for which you have requested or been granted access that match the selected filters.</p>
        {% else %}
            <p>This page shows the services for which you have requested or been granted access.</p>
        {% endif %}
    </div>
{% endblock %}

{% block no_services %}
    <div class="alert alert-warning">
        {% if preserved_filters and checked %}
            No matching services.
        {% elif preserved_filters %}
            No filters selected.
        {% else %}
            <p>You have not registered for any services yet.</p>
            <p>To apply for services, start by choosing a category.</p>
        {% endif %}
    </div>
{% endblock %}

{% block service_list_item %}
    {% include "jasmin_services/my_services/includes/service_list_item.html" %}
{% endblock %}
