{% extends 'layout.html' %}
{% load staticfiles django_bootstrap5 markdown_deux_tags pretty_name %}

{% block page_title %}Make a decision{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">JASMIN Services</li>
            <li class="breadcrumb-item"><a href="{% url 'jasmin_services:service_list' category=service.category.name %}">{{ service.category }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ service.name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content_header %}{{ block.super }}
    <div class="row">
        <div class="col-md-12">
            {% include "jasmin_services/includes/service_tabs.html" %}
        </div>
    </div>
{% endblock %}

{% block content_panel %}
    <script type="text/javascript">
        // Hide the reason stack for now
        document.write('<style>.reason-stack { display: none; }</style>');
        // Initially hide all the form-groups
        // Using document.write allows us to hide fields only when Javascript is enabled
        document.write('<style>.form-group { display: none; }</style>');
    </script>

    <div class="row">
        <div class="col-md-9">
            <form method="POST" action="" class="form-horizontal" id="decision-form">
                {% csrf_token %}

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="id_role">Role</label>
                    <div class="col-sm-10">
                        <p class="form-control-plaintext" id="id_role">
                            <code>{{ pending.role }}</code>
                        </p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="id_for_username">Username</label>
                    <div class="col-sm-10">
                        <p class="form-control-plaintext" id="id_for_username">
                            <code>{{ pending.user.username }}</code>
                        </p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="id_for_full_name">Full name</label>
                    <div class="col-sm-10">
                        <p class="form-control-plaintext" id="id_for_full_name">
                            {{ pending.user.get_full_name }}
                        </p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="id_for_institution">Institution</label>
                    <div class="col-sm-10">
                        <p class="form-control-plaintext" id="id_for_institution">
                            {{ pending.user.institution }}
                        </p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="id_for_discipline">Discipline</label>
                    <div class="col-sm-10">
                        <p class="form-control-plaintext" id="id_for_discipline">
                            {{ pending.user.discipline }}
                        </p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="id_for_degree">Degree</label>
                    <div class="col-sm-10">
                        <p class="form-control-plaintext" id="id_for_degree">
                            {{ pending.user.degree|default:"N/A" }}
                        </p>
                    </div>
                </div>

                {% if rejected %}
                    <div class="reason-stack">
                        {% for req in rejected %}
                            <div class="form-group reason">
                                <div class="col-sm-10 col-md-offset-3">
                                    <aside class="danger">
                                        <header>
                                            <span class="reason-number">{{ forloop.counter }} of {{ rejected|length }}</span>
                                            {% if req.incomplete %}
                                                Previous request incomplete
                                            {% else %}
                                                Previous request rejected
                                            {% endif %}
                                        </header>
                                        {{ req.user_reason|markdown }}
                                        {% if req.internal_reason %}
                                            <hr>
                                            {{ req.internal_reason|markdown }}
                                        {% endif %}
                                    </aside>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if grant.revoked %}
                    <div class="form-group">
                        <div class="col-sm-10 col-md-offset-3">
                            <aside class="danger">
                                <header>Previous access revoked</header>
                                {{ grant.user_reason|markdown }}
                                {% if grant.internal_reason %}
                                    <hr>
                                    {{ grant.internal_reason|markdown }}
                                {% endif %}
                            </aside>
                        </div>
                    </div>
                {% elif grant.expired %}
                    <div class="form-group">
                        <div class="col-sm-10 col-md-offset-3">
                            <aside class="danger">
                                <header>Previous access expired</header>
                                <p>Expired on {{ grant.expires }}</p>
                            </aside>
                        </div>
                    </div>
                {% elif grant.expiring %}
                    <div class="form-group">
                        <div class="col-sm-10 col-md-offset-3">
                            <aside class="warning">
                                <header>Current access expiring</header>
                                <p>Expires on {{ grant.expires }}</p>
                            </aside>
                        </div>
                    </div>
                {% endif %}

                {% block extra_context %}{% endblock %}

                {% for datum in pending.metadata.all %}
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label" for="id_{{ datum.key }}">{{ datum.key|pretty_name }}</label>
                        <div class="col-sm-10">
                            <p class="form-control-plaintext" id="id_{{ datum.key }}" style="white-space: pre-wrap;">{{ datum.value }}</p>
                        </div>
                    </div>
                {% endfor %}

                {% bootstrap_form form layout='horizontal' %}

                <div class="row justify-content-end">
                    <div class="col-sm-10">
                        <button name="submitted" type="submit" class="btn btn-primary" autocomplete="off">Make decision</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">Other approvers</div>
                <div class="card-body">
                    {% if approvers %}
                        <ul class="list-group">
                            {% for user in approvers %}
                                <li class="list-group-item"><code>{{ user.username }}</code></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        You are the only approver for this service.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block tail_js_page %}
    <script src="{% static "jasmin_services/js/request_decide.js" %}"></script>
{% endblock tail_js_page %}
