{% extends "jasmin_services/service_base.html" %}
{% load django_bootstrap5 markdown_deux_tags %}

{% block page_title %}Apply for role{% endblock %}

{% block service_breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'jasmin_services:service_list' category=role.service.category.name %}">{{ role.service.category }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'jasmin_services:service_details' category=role.service.category.name service=role.service.name %}">{{ role.service.name }}</a></li>
    <li class="breadcrumb-item active">Apply</li>
{% endblock %}

{% block content %}
    <form method="POST" action="" class="form-horizontal" onsubmit="submitted.disabled = true; return true;">
        {% csrf_token %}

        <div class="form-group">
            <div class="row">
                <label class="col-4 text-right control-label" for="id_service"><b>Service</b></label>
                <div class="col">
                    <p class="form-control-static" id="id_service">
                        <code>{{ role.service }}</code>
                    </p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-4 text-right control-label" for="id_role"><b>Role</b></label>
                <div class="col">
                    <p class="form-control-static" id="id_role">
                        <code>{{ role.name }}</code>
                    </p>
                </div>
            </div>
        </div>
        {% if req or grant %}
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    {% if req %}
                        <aside class="danger">
                            <header>
                                {% if req.incomplete %}
                                    More infomation required
                                {% else %}
                                    Previous request rejected
                                {% endif %}
                            </header>
                            {{ req.user_reason|markdown }}
                        </aside>
                    {% elif grant.revoked %}
                        <aside class="danger">
                            <header>Previous access revoked</header>
                            {{ grant.user_reason|markdown }}
                        </aside>
                    {% elif grant.expired %}
                        <aside class="danger">
                            <header>Access expired</header>
                            <p>Expired on {{ grant.expires }}</p>
                        </aside>
                    {% elif grant.expiring %}
                        <aside class="warning">
                            <header>Access expiring</header>
                            <p>Expiring on {{ grant.expires }}</p>
                        </aside>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% bootstrap_form form layout='horizontal' %}

        <div class="form-group">
            <div class="row">
                <div class="ml-auto">
                    <button name="submitted" type="submit" class="btn btn-primary" autocomplete="off">Apply</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block js_page %}
    <script type="text/javascript">
        var textAreas = document.getElementsByTagName("textarea");
        var i;
        for (i = 0; i < textAreas.length; i++) {
            textArea = textAreas[i];
            if ($(textArea).attr('maxlength')) {
                var maxLength = $(textArea).attr('maxlength');
                var length = $(textArea).val().length;
                var remaining = maxLength-length;
                var textAreaID = $(textArea).attr('id');

                let counter = document.createElement('span');
                counter.id = textAreaID + '_counter';
                counter.innerHTML = remaining;
                $(textArea).after(counter);
                counter.after(' characters remaining');
            };
        };

        $('textarea').keyup(function() {
            if ($(this).attr('maxlength')) {
                var maxLength = $(this).attr('maxlength');
                var length = $(this).val().length;
                var remaining = maxLength-length;

                let counter = document.getElementById(this.id + '_counter');
                $(counter).text(remaining);
            };
        });
    </script>
{% endblock %}
