{% extends 'layout.html' %}
{% load widget_tweaks markdown_deux_tags %}

{% block page_title %}Apply for role{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">JASMIN Services</li>
    <li class="breadcrumb-item">
        <a class="breadcrumb-link" href="{% url 'jasmin_services:service_list' category=role.service.category.name %}">{{ role.service.category }}</a>
    </li>
    <li class="breadcrumb-item">
        <a class="breadcrumb-link" href="{% url 'jasmin_services:service_details' category=role.service.category.name service=role.service.name %}">{{ role.service.name }}</a>
    </li>
    <li  class="breadcrumb-item active">Apply</li>
</ol>
{% endblock %}

{% block content %}
<div class="row justify-content-lg-center">
    <div class="col-lg-8 col-12">
        <form method="POST" action="" class="form-horizontal" id="apply-form">
            {% csrf_token %}

            <div class="form-group">
                <div class="row">
                    <label class="col-4 text-right control-label" for="id_service"><b>Service</b></label>
                    <div class="col">
                        <p class="form-control-static" id="id_service">
                            <code>{{ role.service }}</code>
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-4 text-right control-label" for="id_role"><b>Role</b></label>
                    <div class="col">
                        <p class="form-control-static" id="id_role">
                            <code>{{ role.name }}</code>
                        </p>
                    </div>
                </div>
            </div>

            {% if licence_url %}
            <div class="form-group">
                <div class="row">
                    <label class="col-2 text-right control-label" for="id_licence"><b>License</b></label>
                    <div class="col">
                        <p class="form-control-static" id="id_licence">
                            <object data="{{ licence_url }}" type="application/pdf" width="600" height="300">
                                <a href="{{ licence_url }}">Click here</a>
                            </object>
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if req or grant %}
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        {% if req %}
                            <aside class="danger">
                                <header>
                                    {% if req.incomplete %}
                                        More infomation required
                                    {% else %}
                                        Previous request rejected
                                    {% endif %}
                                </header>
                                {{ req.user_reason|markdown }}
                            </aside>
                        {% elif grant.revoked %}
                            <aside class="danger">
                                <header>Previous access revoked</header>
                                {{ grant.user_reason|markdown }}
                            </aside>
                        {% elif grant.expired %}
                            <aside class="danger">
                                <header>Access expired</header>
                                <p>Expired on {{ grant.expires }}</p>
                            </aside>
                        {% elif grant.expiring %}
                            <aside class="warning">
                                <header>Access expiring</header>
                                <p>Expiring on {{ grant.expires }}</p>
                            </aside>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            
    
            {% for field in form.visible_fields %}
            <div class="form-group">
                <div class="row">
                    <label class="col-4 text-right control-label" for="id_service"><b>{{ field.label }}</b></label>
                    <div class="col">
                            {% render_field field class="form-control" placeholder=field.label %}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="form-group">
                <div class="row">
                    <div class="ml-auto">
                        <button name="submitted" type="submit" class="btn btn-primary" autocomplete="off">Apply</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    var textAreas = document.getElementsByTagName("textarea");
    var i;
    for (i = 0; i < textAreas.length; i++) {
        textArea = textAreas[i];
        if ($(textArea).attr('maxlength')) {
            var maxLength = $(textArea).attr('maxlength');
            var length = $(textArea).val().length;
            var remaining = maxLength-length;
            var textAreaID = $(textArea).attr('id');

            let counter = document.createElement('span');
            counter.id = textAreaID + '_counter';
            counter.innerHTML = remaining;
            $(textArea).after(counter);
            counter.after(' characters remaining');
        };
    };

    $('textarea').keyup(function() {
        if ($(this).attr('maxlength')) {
            var maxLength = $(this).attr('maxlength');
            var length = $(this).val().length;
            var remaining = maxLength-length;

            let counter = document.getElementById(this.id + '_counter');
            $(counter).text(remaining);
        };
    }); 
</script>

{% endblock %}
