{% extends 'layout.html' %}
{% load staticfiles crispy_forms_tags widget_tweaks django_bootstrap5 %}

{% block page_title %}Send a message{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">JASMIN Services</li>
            <li class="breadcrumb-item"><a href="{% url 'jasmin_services:service_list' category=service.category.name %}">{{ service.category }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ service.name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content_header %}{{ block.super }}
    <div class="row">
        <div class="col-md-12">
            {% include "jasmin_services/includes/service_tabs.html" %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="alert alert-info text-center">
        <p>You can use this form to send an email message to users of your service.</p>
    </div>
    <form method="POST" action="" class="form-horizontal" id="message-form">
        {% csrf_token %}

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">{{ form.users.label }}</label>
            <div class="col-sm-10">
                {{ form.users }}
            </div>
        </div>
        {% bootstrap_form form layout='horizontal' exclude='users' %}

        <div class="form-group row justify-content-end">
            <div class="col-sm-10">
                <button name="submitted" type="submit" class="btn btn-primary" autocomplete="off">Send message</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block stylesheets_page %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" integrity="sha512-mR/b5Y7FRsKqrYZou7uysnOdCIJib/7r5QeJMFvLNHNhtye3xJp1TdJVPLtetkukFn227nKpXD9OjUc09lx97Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block js_page %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js" integrity="sha512-FHZVRMUW9FsXobt+ONiix6Z0tIkxvQfxtCSirkKc5Sb4TKHmqq1dZa8DphF0XqKb3ldLu/wgMa8mT6uXiLlRlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
